#screen{
    border: 1px solid black;
    width: 1000px;
    height: auto;
}

#screenStart{
    border: 1px solid black;
    width: 1000px;
    height: 750px;
}

img{
    width: 300px;
    height: auto;
}

#slide{
    display:flex;
    flex-direction: row;
}